body {

    font-family: roboto;
    font-weight: 400;
    color: #2b2834;
    margin: 0;
}

/* typography */

h1, h3{
    margin: 0;
}

h1 {
    font-size: 1.75rem;
    color: whitesmoke;


}

h2 {
    margin-top: 0;
}

.subheading {
    display: block;
    font-size: 1rem;
    /* update initial font-size */
    color: #d0aaff;
    margin: 0;
}



p {
    line-height: 1.5;
}

/* links */

a {
    color: #ef5839;
    text-decoration: dotted underline;

}

a:hover,
a:active {
    color: #d4b44c;

}

.btn {
    padding: 0.625em 1.188em;
    text-align: center;
    font-weight: 500;
    border-radius: 4.5px;
    text-decoration: none;
    display: block;
    margin-right: 0.5em;
    margin-bottom: 1em;

}






.btn:hover,
.btn:active {
    background-color: #f3e885;
    color: #2b283a
}

.btn-dark {
    background: #5f29a3;
    color: whitesmoke;

}

.btn-light {
    background: #f0e0ff;
    color: #5f29a3;

}

.btn-mid {
    background: whitesmoke;
    color: #5f29a3;

}



/* layout */

header,
section,
footer {
    padding: 1.25em 0;
}


header {
    background-color: #5f29a3;

}

.container {
    width: 90%;
    margin: 0 auto;

}

.image-item {
    width: 100%;
    display: block;
    max-width: 640px;
    margin: 0 auto 2em;
}



.section-two {
    color: whitesmoke;
    background-color: #5f29a3;
}

.feature-image {
    width: 100%;
    border-radius: 4.6px;

}



footer {
    text-align: center;

    color: #5f29a3;

}
/* navigation */
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.85em 0;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/* media queries */

@media (min-width: 480px) {
    .section-two-image-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .feature-image {
        width: 48.8%;
    }
}
@media (max-width: 767px){

    header {
        text-align: center;
    }

    nav {
        margin-top: 1.5em;
    }  

    li:not(:last-child) {
        border-bottom: 1px dotted #a190b6;
    }  
}
    

@media (min-width: 768px) {

    header,
    section,
    footer {
        padding: 2.875em 0;
    }

    .btn {
        display: inline-block;
        margin-right: 0.5em;
    }

    h1 {
        font-size: 2.25em;
    }

    h2 {
        font-size: 1.75rem;
    }

    .subheading {
        font-size: 1.25rem;
    }

    p {
        font-size: 1.125rem;
    }
    header .container, nav ul{
        display: flex;
      
        
        
    }
    header .container{
        justify-content: space-between;
        align-items: center;
    }
    
    nav li {
        margin-left: 1.25em;
    }
    li a{
        border: none;
    }
}